<!DOCTYPE html>
	<html lang="hu">
	<head th:insert="home :: head"></head>
	<body id="default_theme" class="it_shop_detail">
		<div class="bg_load" th:insert="home :: loading"></div>
		<header id="default_header" class="header_style_1" th:insert="home :: menu"></header>
		
		<div id="inner_banner" class="section inner_banner_section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<div class="title-holder">
								<div class="title-holder-cell text-left">
									<h1 class="page-title">404 Hiba</h1>
									<ol class="breadcrumb">
										<li><a href="/home">Főoldal</a></li>
										<li class="active">404 hiba</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding_layout_1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="center margin_bottom_30_all">
							<img class="margin_bottom_30_all" src="/assets/images/404_error_img.png" alt="#">
						</div>
						<div class="heading text_align_center">
							<h2>Az oldal nem található!</h2>
						</div>
						<div class="center"> <a class="btn sqaure_bt light_theme_bt" href="/home">Vissza a főoldalra</a> </div>
					</div>
				</div>
			</div>
		</div>

		<div th:insert="home :: footer"></div>
	</body>
</html>
