<!DOCTYPE html>
	<html lang="hu">
	<head th:insert="home :: head"></head>
	<body id="default_theme" class="it_shop_detail">
		<div class="bg_load" th:insert="home :: loading"></div>
		<header id="default_header" class="header_style_1" th:insert="home :: menu"></header>

		<div id="inner_banner" class="section inner_banner_section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<div class="title-holder">
								<div class="title-holder-cell text-left">
									<h1 class="page-title" th:text="${itemName}"></h1>
									<ol class="breadcrumb">
										<li><a href="/home">Főoldal</a></li>
										<li><a href="/shop">Bolt</a></li>
										<li class="active">Fizetés</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- end header -->
<div class="section padding_layout_1 checkout_section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="checkout-form">
          <form action="#">
            <fieldset>
            <div class="row">
              <div class="col-md-6">
                <div class="form-field">
                  <label>Keresztnév <span class="red">*</span></label>
                  <input name="fn" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-field">
                  <label>Vezetéknév <span class="red">*</span></label>
                  <input name="ln" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-field">
                  <label>Cég neve</label>
                  <input name="cm" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-field">
                  <label>Ország</label>
                  <!-- language-selection -->
                      <script>
                        $(document).ready(function () {
                            $.getJSON("assets/json/countries.json", function (result) {
                                $.each(result.countries, function (i, country) {
                                    $("#langSelect").append('<option value="' + country.countryID + '">' + country.countryName + '</option>&apos');
                                });
                            });
                        });
                    </script>
                    <select id="langSelect" ></select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-field">
                  <label>Cím <span class="red">*</span></label>
                  <textarea name="ad"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-field">
                  <label>Város / Település <span class="red">*</span></label>
                  <input name="tc" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-field">
                  <label>Megye / Állam <span class="red">*</span></label>
                  <input name="sc" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-field">
                  <label>Irányítószám <span class="red">*</span></label>
                  <input name="pz" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-field">
                  <label>Telefonszám (mobil) <span class="red">*</span></label>
                  <input name="ph" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-field">
                  <label>E-mail cím <span class="red">*</span></label>
                  <input name="em" type="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-field">
                  <input name="ck" type="checkbox">
                  <span class="crte-ac">Szeretnék regisztrálni</span> </div>
              </div>
            </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shopping-cart-cart">
          <table>
            <tbody>
              <tr class="head-table">
                <td><h5>Kosár</h5></td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <td><h4>Részösszeg</h4></td>
                <td class="text-right"><h4>$42.00</h4></td>
              </tr>
              <tr>
                <td><h5>Szállítási költség</h5></td>
                <td class="text-right"><h4>$6.00</h4></td>
              </tr>
              <tr>
                <td><h3>Összesen</h3></td>
                <td class="text-right"><h4>$48.00</h4></td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12 payment-bt">
              <div class="center">
                <button class="bt_main">Fizetés</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="payment-form">
          <div class="col-xs-12 col-md-12">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
              <div class="panel-heading display-table">
                <div class="display-tr">
                  <h3 class="panel-title display-td">Fizetési részletek</h3>
                  <div class="display-td"> <img class="img-responsive pull-right" src="images/it_service/accepted.png" alt="#"> </div>
                </div>
              </div>
              <div class="panel-body">
                <form id="payment-form" method="POST" action="index.html">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-field">
                        <label>Kártyaszám</label>
                        <div class="form-field cardNumber">
                          <input name="cardNumber" placeholder="Érvényes bankkártyaszám" required="" type="tel">
                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span> </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-7">
                      <div class="form-field">
                        <label><span class="hidden-xs">Lejárati dátum</span><span class="visible-xs-inline">(EXP</span> Date)</label>
                        <input name="cardExpiry" placeholder="hónap / év" required="" type="tel">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-5 pull-right">
                      <div class="form-field">
                        <label>CV kód</label>
                        <input name="cardCVC" placeholder="CVC" required="" type="tel">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">
      <div class="map_section">
        <div id="map"></div>
      </div>
      <div class="footer_blog">
        <div class="row">
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>It Next Theme</h2>
            </div>
            <p>Tincidunt elit magnis nulla facilisis. Dolor sagittis maecenas. Sapien nunc amet ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orci.</p>
            <ul class="social_icons">
              <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Additional links</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> About us</a></li>
              <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Terms and conditions</a></li>
              <li><a href="it_privacy_policy.html"><i class="fa fa-angle-right"></i> Privacy policy</a></li>
              <li><a href="it_news.html"><i class="fa fa-angle-right"></i> News</a></li>
              <li><a href="it_contact.html"><i class="fa fa-angle-right"></i> Contact us</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Services</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Data recovery</a></li>
              <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Computer repair</a></li>
              <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Mobile service</a></li>
              <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Network solutions</a></li>
              <li><a href="it_techn_support.html"><i class="fa fa-angle-right"></i> Technical support</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="main-heading left_text">
              <h2>Contact us</h2>
            </div>
            <p>123 Second Street Fifth Avenue,<br>
              Manhattan, New York<br>
              <span style="font-size:18px;"><a href="tel:+9876543210">+987 654 3210</a></span></p>
            <div class="footer_mail-section">
              <form>
                <fieldset>
                <div class="field">
                  <input placeholder="Email" type="text">
                  <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="cprt">
        <p>ItNext © Copyrights 2019 Design by html.design</p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- js section -->
<script src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/slick.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- menu js -->
<script src="assets/js/menumaker.js"></script>
<!-- wow animation -->
<script src="assets/js/wow.js"></script>
<!-- custom js -->
<script src="assets/js/custom.js"></script>


<script>
  $(document).ready(function(){
  $('.slide').slick({
    dots:true,
    slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000
  });

  $('.new_price').html()
});
</script>
</body>
</html>
