<!DOCTYPE html>
	<html lang="hu">
	<head th:insert="home :: head"></head>
	<body id="default_theme" class="it_shop_detail">
		<div class="bg_load" th:insert="home :: loading"></div>
		<header id="default_header" class="header_style_1" th:insert="home :: menu"></header>

		<div id="inner_banner" class="section inner_banner_section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<div class="title-holder">
								<div class="title-holder-cell text-left">
									<h1 class="page-title" th:text="${itemName}"></h1>
									<ol class="breadcrumb">
										<li><a href="/home">Főoldal</a></li>
										<li><a href="/shop">Bolt</a></li>
										<li class="active">Tárgy</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding_layout_1 product_detail">
			<div class="container">
				<div class="row" th:if="${addedToCart}">
					<div class="col-sm-12">
						<div class="alert alert-success">
							Sikeresen hozzáadtál <span th:text="${addedToCart}"></span> darabot a kosaradba!
						</div>
					</div>
				</div>
				<div class="row" th:if="${addedMoreToCart}">
					<div class="col-sm-12">
						<div class="alert alert-success">
							Sikeresen hozzáadtál még <span th:text="${addedMoreToCart}"></span> darabot a kosaradba!
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-xl-6 col-lg-12 col-md-12">
								<div class="product_detail_feature_img hizoom hi2" th:data-id="${itemId}">
								</div>
							</div>
							<div class="col-offset-xl-1 col-xl-5 col-lg-12 col-md-12 product_detail_side detail_style1">
								<div class="product-heading">
									<h2 th:text="${itemName}"></h2>
								</div>
								<div class="product-detail-side">
									<span class="new-price"><span th:text="${itemPrice}"></span> Ft</span>
								</div>
								<div class="detail-contant">
									<p>
										<span th:text="${itemShortDesc}"></span>
										<br>
										<span class="stock"><span th:text="${itemStock}"></span> darab raktáron</span>
									</p>
									<form id="addToCard" class="cart" method="post">
										<div class="quantity">
											<input step="1" min="1" th:max=${itemStock} name="count" value="1" title="Qty" class="input-text qty text" size="4" type="number">
										</div>
										<button type="submit" class="btn sqaure_bt" th:attr="data-id=${itemId}">Kosárba rakás</button>
									</form>
								</div>
								<div class="share-post">
									<a href="#" class="share-text">Megosztás</a>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="full">
									<div class="tab_bar_section">
										<ul class="nav nav-tabs" role="tablist">
											<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#description">Tárgy leírása</a> </li>
										</ul>
										<div class="tab-content">
											<div id="description" class="tab-pane active">
												<div class="product_desc">
												<p th:text="${itemDesc}"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="full">
									<div class="main_heading text_align_left" style="margin-bottom: 35px;">
										<h3>Kapcsolódó termékek</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all" th:each="item: ${recommended}">
								<a th:href="@{'/details/' + ${item.link}}">
									<div class="product_list">
										<div class="product_img"> <img class="img-responsive" th:src="@{'/assets/images/items/' + ${item.image} + '.jpg'}" alt=""> </div>
										<div class="product_detail_btm">
											<div class="center">
												<h4 th:text="${item.name}"></h4>
											</div>
											<div class="product_price">
												<p><span class="new_price"><span th:text="${item.price}"></span> Ft</span></p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:insert="home :: footer"></div>
	</body>
</html>