<!DOCTYPE html>
	<html lang="en">
	<head th:insert="home :: head"></head>
	<body id="default_theme" class="it_shop_detail">
		<div class="bg_load" th:insert="home :: loading"></div>
		<header id="default_header" class="header_style_1" th:insert="home :: menu"></header>

		<div id="inner_banner" class="section inner_banner_section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="full">
							<div class="title-holder">
								<div class="title-holder-cell text-left">
									<h1 class="page-title">Hiba</h1>
									<ol class="breadcrumb">
										<li><a href="/home">Főoldal</a></li>
										<li class="active">hiba</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section padding_layout_1 product_detail">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h4>Ajjaj!</h4>
						URL: <span th:text="${url}"></span><br>
						Hiba: <span th:text="${msg}"></span><br>
						<pre th:text="${stack}"></pre>
					</div>
				</div>
			</div>
		</div>
		
		<div th:insert="home :: footer"></div>
	</body>
</html>
