<!DOCTYPE html>
	<html lang="hu">
	<head th:insert="home :: head"></head>
	<body id="default_theme" class="it_shop_detail">
		<div class="bg_load" th:insert="home :: loading"></div>
   		<header id="default_header" class="header_style_1" th:insert="home :: menu"></header>
		
		<div class="section padding_layout_1 product_list_main">
			<div class="container-fluid">
				<div class="row main">
					<div  class="sidenav col-md-2">
						<div class="side_bar">
							<div class="side_bar_blog">
								<h4>Keresés</h4>
								<div class="side_bar_search">
								<div class="input-group stylish-input-group">
									<input class="form-control" placeholder="Keresés" type="text">
									<span class="input-group-addon">
									<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</span> </div>
								</div>
							</div>

							<div class="side_bar_blog">
								<h4>Kategóriák</h4>
								<div class="categary">
									<ul>
										<a href="/shop"><li th:class="${0 == category ? 'active' : ''}"><i class="fa fa-angle-right"></i> Minden</li></a>
										<span th:each="cat: ${categories}"><a th:href="@{'/shop/category/' + ${cat.id}}"><li th:class="${cat.id == category ? 'active' : ''}"><i class="fa fa-angle-right"></i> <span th:text="${cat.name}"></span></li></a></span>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-10">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all" th:each="item: ${items}">
								<a th:href="@{'/details/' + ${item.link}}">
									<div class="product_list">
										<div class="product_img"> <img class="img-responsive" th:src="@{'/assets/images/' + ${item.image} + '.jpg'}" alt=""> </div>
										<div class="product_detail_btm">
											<div class="center">
												<h4 th:text="${item.name}"></h4>
											</div>
											<div class="product_price">
												<p><span class="new_price"><span th:text="${item.price}"></span> Ft</span></p>
											</div>
										</div>
									</div>
								</a>
							</div>
							
							<div class="center" th:if="${maxPage > 0}">
								<ul class="pagination">
									<li th:if="${page > 1}"><a th:href="${'/shop' + url}"><<</a></li>
									<li th:if="${page > 1}"><a th:href="${'/shop' + url + '/page/' + (page - 1)}"><</a></li>
									<li th:each="pagi: ${pagination}"><a th:class="${pagi == page ? 'active' : ''}" th:href="@{'/shop' + ${url} + '/page/' + ${pagi}}" th:text="${pagi}"></a></li>
									<li th:if="${page < maxPage}"><a th:href="${'/shop' + url + '/page/' + (page + 1)}">></a></li>
									<li th:if="${page < maxPage}"><a th:href="${'/shop' + url + '/page/' + maxPage}">>></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="home :: footer"></div>
	</body>
</html>
